
body {
	font-family: sans-serif;
	margin: 20px;
	background: #f0f0f0;
	color: #333;
}

h1 {
	margin: -20px -20px 14px -20px;
	padding: 8px 23px;
	box-shadow: 0px 0px 15px -7px #000000;
	background-color: #d3dfef;
}

h3 {
	margin: -4px 0px 10px 0px;
}

.controllers {
	float: right;
	white-space: nowrap;
	margin-top: 12px;
}

#charts {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.chart {
	width: 100%;
	height: 300px;
}

input, select, button {
	font-family: sans-serif;
	border-radius: 3px;
	border: 1px solid #838a96;
}

input, select {
	padding: 6px 3px;
	outline: 0px none;
	background-color: #FFFFFF;
}

button {
	padding: 6px 8px;
	cursor: pointer;
	background-color: #abc3f1;
}

.chart-box {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	width: 18%;
	max-width: 100%;
	overflow: hidden;
}

.gauge{
	text-align: center;
}

.gauge table{
	margin: 25px auto 0px auto !important;
}
