
body {
	font-family: sans-serif;
	margin: 2em;
	background: #f0f0f0;
	color: #333;
}

h1 {
	margin-bottom: 1em;
}

#charts {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

.chart {
	width: 100%;
	height: 300px;
}

.chart-box {
	background: white;
	padding: 1em;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	width: 18%;
}

.gauge{
	text-align: center;
}

.gauge table{
	margin: 0px auto;
}
