
body {
	font-family: "Rubik", sans-serif;
	margin: 20px;
	background: #f0f0f0;
	color: #333;
}

h1 {
	margin: -20px -20px 14px -20px;
	padding: 8px 23px;
	color: #213046;
	box-shadow: 0px 0px 15px -7px #000000;
	/*background-color: #d3dfef;*/
}

h1::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	mix-blend-mode: darken;
	background: linear-gradient(to right, #d3dfef 0%, #b6c3d4 50%);
	/*
	background-color: #d3dfef;
	filter: url(#grainy-noise);
	background-image:
		url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='0' height='0' aria-hidden='true'%3E%3Cfilter id='grainy-noise' x='0' y='0' width='1' height='1'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch' /%3E%3CfeBlend mode='screen' /%3E%3C/filter%3E%3C/svg%3E"),
		linear-gradient(to right, rgba(170, 203, 255, 0.8) 0%, #5697ff 50%);
	background-blend-mode: overlay;
	*/
	z-index: -1;
}

h3 {
	margin: -4px 0px 10px 0px;
}

.controllers {
	float: right;
	white-space: nowrap;
	margin-top: 12px;
}

#charts {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.chart {
	width: 100%;
	height: 300px;
}

svg text {
	font-family: "Rubik", sans-serif;
}

input, select, button {
	font-family: "Rubik", sans-serif;
	border-radius: 4px;
	border: 1px solid #768295;
}

input, select {
	padding: 6px 3px;
	outline: 0px none;
	background-color: #FFFFFF;
}

button {
	padding: 6px 8px;
	cursor: pointer;
	background-color: #abc3f1;
}

.chart-box {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	width: 18%;
	max-width: 100%;
	overflow: hidden;
}

.chart-box.wind {
	width: calc(46% - 220px);
}

.gauge{
	text-align: center;
}

.gauge table{
	margin: 25px auto 0px auto !important;
}

@media screen and (max-width: 900px) {

	h1:after {
		height: 93px;
	}

	.chart-box {
		width: calc(32% - 44px);
	}

	.chart-box.wind {
		width: 100%;
	}

}

@media screen and (max-width: 650px) {

	.chart-box {
		width: 100%;
	}

}
